<div class="about-rcontent">
  <h3 class="about-rheader">Mission Statement</h3>
  
  New Horizon's mission is to be a growth oriented enterprise
  that provides added value through new and patented pump
  technology to its partners, proven to optimize pumping wells
  profitability by a factor of 18-58% while reducing HSE risk.
  As a result, produce more from pumping wells for less than
  anyone. See National Oil Company case study which
  compared our technology differentiator to others at
  <a href="http://smartpumper.com/about/" target="_blank">http://smartpumper.com/about/</a>
</div>