<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>    
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    {% seo %}
  </head>
  <body>
    <div class="container-fluid no-mp">
      {% include navigation.html %}
      
      <div class="row no-gutters">
        <div class="col-sm banner" style="background:url(/assets/images/{{ page.banner_img }}); background-repeat: no-repeat;"></div>
      </div>
      
      {{ content }}
    </div>
  </body>
</html>
